/* Set the background color */
body {
    background-color: #f5f5f5;
  }
  
  /* Style the login form */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the headings */
  h1 {
    color: #009688;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the labels */
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Style the inputs */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Style the login button */
  button.next1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Change the background color of the button on hover */
  button.next1:hover {
    background-color: #3e8e41;
  }
  